In [15]:
print('hello') # shift+enter

hello

# Hello markdown
## hello markdown
### hello markdown

* python 2.7
* python 3.9

``` python 
s = "Python syntax highlighting"
print s
def add(a, b):
    return a + b
```

> Blockquotes Starts

This is **python**

__webpage 호환__
* [python webpage](https://www.python.org)
* [naver](https://www.naver.com)

hi mister

# 마크다운 주요 단축키 설명
- 쉘을 실행시키는 단축키 shift+enter, ctrl+enter //
- esc 파란상태 -> b 아래로 생성, a 위로 생성 dd => 셀 삭제
- z : 잘못 삭제했을 경우에 되돌리는 법

In [21]:
# 문자열의 길이를 구하는 함수
message = '안녕하세요 오늘은 수요일'
str_len = len(message)
a = str(str_len)
#print('문자열의 길이: ' + a)
print(f"문자열의 길이 : {str_len}")

문자열의 길이 : 13

In [23]:
# 문자열의 개수 
a = 'happy'
b = a.count('p')
print(b)

2

In [35]:
# 문자열의 위치 반환
a = 'I like dog'
f = a.find('e')
print(f)

5

In [34]:
# 문자열의 첨가
j = '.'.join('abcd')
print(j)

a.b.c.d

In [40]:
# upper / lower

a ='HI'
b = 'hi'
c = 'Hi my name is Jongwoo'
c.lower()

'hi my name is jongwoo'

공백에 대한 함수(strip)

In [45]:
a = '          hi   '
b = '----------hi----'
a.strip()
s = b.strip('-')

print(s)

hi

In [46]:
#문자열 바꾸기
a = 'Life is bad'
s = a.replace('bad', 'good')
print(s)

Life is good

# replace, split, strip

In [54]:
# 문자열 나누기(split)
a = 'Life Hacker'
s = a.split()
print(s)

['Life', 'Hacker']

복수의 데이터를 담는 그릇을 복합자료형.. 배열 
* list
* tuple
* dict
* set
* .... **args **kwargs(dict 용)

In [55]:
score = [90, 89, 77, 95, 67]
fruit = ['apple', 'banana', 'white']

print(score, fruit)

[90, 89, 77, 95, 67] ['apple', 'banana', 'white']

In [58]:
a = [1, 2, 3, [4,5,6], 4.5]
a[3][:2]

[4, 5]

In [60]:
num = list(range(1, 21, 2)) # 1부터 20까지 2증가
print(num)
print(num[3:7])

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[7, 9, 11, 13]

In [61]:
# 리스트에서 값 수정
a = [1, 2, 3]
a[2] = 4
print(a)

[1, 2, 4]

In [62]:
a = [1, 2, 3,4, 5]
del a[2:]
print(a)

[1, 2]

In [63]:
b = 'I @@@want eggs'

In [65]:
b.replace('@', '').upper()

'I WANT EGGS'

In [68]:
a = [1, 2, 3]
a.insert(0, 4)
a

[4, 1, 2, 3]

In [70]:
#리스트 내 요소제거
sub = [1,2,3, 1, 2, 3]
sub.remove(3)
sub

[1, 2, 1, 2, 3]

In [71]:
t1 = (1, 2, 3)

In [72]:
print(t1)

(1, 2, 3)

In [73]:
s1 = set([1, 2, 3,4, 5, 6])
s2 = set([2, 3, 4, 5, 6, 8])
s1 & s2 # 교집합

{2, 3, 4, 5, 6}

# 딕셔너리(dictionary)

 - KEY, VALUE PAIR 형태

In [77]:
D = {'A' : 100, 'B' : 200, 'C' : 300}
print(type(D))

<class 'dict'>

In [78]:
dict1 =  {'이름' : '존', '소속' : '빅데이터 그룹', '층수' : 30}

In [84]:
dict1['소속']
dict1.keys()
dict1.values()

dict_values(['존', '빅데이터 그룹', 30])

In [85]:
name = ['good', 'james']
group = ['빅데이터그룹', '경영지원팀']
income = [5000, 6000]

dict3 = {'이름' : name, '소속' : group, '연봉' : income}

In [86]:
print(dict3)

{'이름': ['good', 'james'], '소속': ['빅데이터그룹', '경영지원팀'], '연봉': [5000, 6000]}

In [100]:
name.append('임재범')
group.append('AI팀')

dict3['연봉'][0]
#del dict3['연봉'][0]

6000

# 입력문`

- 사용자에게 데이터를 입력 받기 위한 함수
- input() 함수로 입력을 받을 경우는 __str__
- input() 함수를 통해 입력받은 값을 할당할 수 있는 변수가 필요

In [103]:
height = int(input())

area = height ** 2

177

In [104]:
print(area)

31329

In [106]:
print('i', end = ' ')
print('like', end = ' ')
print('you')

i like you

In [111]:
print("Hello, %s" % (name))

Hello, ['good', 'james', '임재범', '임재범', '임재범', '임재범', '임재범', '임재범', '임재범']

In [115]:
# 구매하려는 상품의 가격ㅇ르 입력하고 구매를 위해 낼 금ㅇ액을 입력하면 거스름돈을 출력하는 함수
def pos(cost, pay) :
    return cost - pay

cost = int(input('상품의 가격'))
pay = int(input('사용 금액'))

print("금액 %d" % pos(cost, pay))

상품의 가격5000
사용 금액2000
금액 3000