# Example 1-1

 - 어떤 회원이 생년월일 입력란에 890724를 입력하셨을때 해당 문자을 연/월/일로 각각 나누어 출력하기

In [33]:
phoneNumber = '010-1234-5678'
phoneNumber.replace("-", "")

sales = "DAILY ESSENTIALS REFRESHING TONER REVIEWS"
sales.lower()

days = '20190603'
birthday = '890724'

print(birthday[0:2] + '/' + birthday[2:4] + '/' + birthday[4:6])
print(days[0:4] + '-' + days[4:6] + '-' + days[6:8])
print(sales.lower())
print(phoneNumber.replace("-", ""))

89/07/24
2019-06-03
daily essentials refreshing toner reviews
01012345678

#Example 1-5 ~ 1-9

In [2]:
#1.6

ls = [1,1,1,1,3,3,3,4,5,5,4,5,7,8,13]
print(list(set(ls)))

[1, 3, 4, 5, 7, 8, 13]

In [7]:
#1.7
PI = 3.14
r = float(input("radius ? : "))
area = PI * (r ** 2)
print("Area is.. : %.2f" % area)

radius ? : 2.4
Area is.. : 18.09

In [8]:
#1.8 
x = int(input("What's value of x : "))

y1 = (x ** 2) - x + 100
y2 = (2 * x)  + 25
y3 = ((x ** 2) + x) / (x)

print(y1, y2, y3)

What's value of x : 4
112 33 5.0

In [22]:
#1.9

dict1= {'96': '자',
        '97' :'축',
        '98' :'인',
        '99' :'묘',
        '00':'진',
        '01': '사',
        '02' :'오',
        '03' :'미',
        '04' :'신',
        '05' :'유',
        '06' :'술',
        '07' :'해',
       }

year = input("연도를 입력해주세요 : ")
year_for = year[2:4]
print(dict1[year_for])

연도를 입력해주세요 : 1996
자

In [24]:
#1.10
F = float(input("화씨 입력 => "))
C = (F * 1.8) + 32
print(f'섭씨는 {C}도')

화씨 입력 => 12
섭씨는 53.6도

In [25]:
#1.11
r = float(input("radius => "))
h = float(input("height => "))

volume = 3.14 * (r ** 2) * h
print(f'Volume is : {volume}m^3')

radius => 4
height => 10
Volume is : 502.40000000000003m^3

In [43]:
#1.13
price = int(input("금액? "))
cost = 1000
change = [500, 100, 50, 10]

result = cost - price
# if result = 250원인경우
print("반환될 금액은 .. 500원 = %d개 , 100원 = %d개, 50 = %d개, 10원 = %d개 " % (result / 500, (result % 500) / 100, (result % 100) / 50, (result % 50) / 10))

금액? 400
반환될 금액은 .. 500원 = 1개 , 100원 = 1개, 50 = 0개, 10원 = 0개

In [45]:
# 정수입력  홀짝여부 판별

def odd_even(n) :
    if n % 2 == 0 :
        print("Even Number")
    else :
        print("Odd Number")
        
num = int(input("정수를 입력해주세요. : "))
print(odd_even(num))

정수를 입력해주세요. : 101
Odd Number
None

# 비교연산자
- boolean
- == , >=, <=, !=

# 반복문 while, continue..

In [46]:
a = 0
while a < 10 :
    a = a + 1
    if a % 2 == 0 :
        continue
    print(a, end = ',')

1,3,5,7,9,

# For문
- for문은 지정된 횟수만큼 반복
- if 문과 같이 쓰이며 업무 자동화에 사용

- for in 범위(리스트, 튜플, 문자열)

In [49]:
test_list = ['one', 'two', 'three']

for i in range(0, len(test_list)) :
    print(test_list[i])

one
two
three

In [52]:
dat = [80 , 60, 70 ,40,70,80,40,60,40]

for i in dat :
    if i >= 60 :
        print(f"{i} is Pass")
    else :
        print(f"{i} is None Pass")

80 is Pass
60 is Pass
70 is Pass
40 is None Pass
70 is Pass
80 is Pass
40 is None Pass
60 is Pass
40 is None Pass

In [61]:
# 구구단 만들기
def gugu(n) :
    for i in range(1, 10) :
        print(f"{n} * {i} = {n * i}")
def gugu_while(n) :
    i = 1
    while(i < 10) :
        print(f"{n} * {i} = {n * i}")
        i = i + 1
        
num = int(input("number : "))

gugu(num)

number : 9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

# 익명함수 
- 람다function을 이용한 함수의 사용

def 함수이름(매개변수) :
    return 결과

lambda (매개변수 : 결과)

In [64]:
add = lambda a, b :  a + b

6

In [66]:
#2-1

def find_n(n) :
    if n < 0 :
        print("%d 은 음수입니다." % n)
    elif n > 0 :
        print("%d 은 양수입니다." % n)
    else :
        print("0이네요")

find_n(-2)

-2 은 음수입니다.

In [68]:
#2-2

def find_odd_even(n) :
    if n % 2 == 0 :
        print("짝수입니다.")
    else :
        print("홀수입니다.")

find_odd_even(3)

홀수입니다.

In [70]:
#2-3
def find_three_times(n) :
    if n % 3 == 0 :
        print("3의 배수입니다.")
    else :
        print("3의 배수가 아닙니다.")

num = int(input("정수를 입력 => "))
find_three_times(num)

정수를 입력 => 100
3의 배수가 아닙니다.

In [85]:
def find_BMI(height, weight) :
    height = height / 100
    BMI = weight / (height ** 2)
    if (BMI < 18.5) :
        print(f"저체중 {BMI:.1f}")
    elif BMI > 18.5 and BMI < 22.8 :
        print(f"정 상 {BM:.1f}")
    elif BMI > 22.9 and BMI < 24.8 :
        print(f"과체중 {BMI:.1f}")
    elif BMI > 24.9 and BMI < 29.8 :
        print(f"과체중 {BMI:.1f}")
    else :
        print(f"고도비만 {BMI:.1f}")
    
height = float(input("키를 입력하세요 :"))
weight = float(input("몸무게를 입력하세요 :"))

find_BMI(height, weight)

키를 입력하세요180
몸무게를 입력하세요77
과체중 23.8

In [95]:
# 2.5 1월: 5500 / 2월: 5300 / 3월 : 6700 / 4월: 5500 / 5월 : 5800

ls = [5500, 5300, 6700, 5500, 5800]
month = len(ls)
sum = 0
for money in ls :
    sum = sum + money
avg = sum / month
print(avg)

5760.0

In [ ]:
# 2.5 1월: 5500 / 2월: 5300 / 3월 : 6700 / 4월: 5500 / 5월 : 5800

ls = [5500, 5300, 6700, 5500, 5800]
month = len(ls)
sum = 0
for money in ls :
    sum = sum + money
avg = sum / month
print(avg)