- classification : 범주화, 사물의 공통된 특징을 이용하여 조직화 , 그룹화 하는것. (클래스 상속 같은 개념), 분류!
- P(A|B) = P(A or B) / P(B) :B가 A일 확률

In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame({'GROUP' : [40, 50, 60, 70]})

In [4]:
df

   GROUP
0     40
1     50
2     60
3     70

In [5]:
df.describe()

           GROUP
count   4.000000
mean   55.000000
std    12.909944
min    40.000000
25%    47.500000
50%    55.000000
75%    62.500000
max    70.000000