## 1. 파이썬 기초 문법
 - 데이터 타입
     - 정수형(int)
     - 실수형(float)
     - 문자형(char)
 - 복합자료형(iterable)

     - 리스트 => 순서, 수정 가능
     - 튜플 => 순서, 수정 불가능
     - 셋 => 중복을 허용하지 않음
     - 딕셔너리 => {KEY : VALUE}
     
## 2. Statement & Function
 - 조건문
     if elif else
     ? :
 - 반복문
     for in
 - 함수
     def
     익명함수 lambda .. 변수 : 조건 : 리턴값
     
#### 삼항연산
 - var <B>val1</B> if condition else <B>val2</B>

# 라이브러리와 모듈, 패키지

## 모듈
 - 특정 기능들이 구현되어 있는 파이썬 파일(.py)
 - 필요한 파일을 import
 - 파이썬 코드를 논리적으로 묶어서 관리하고 사용할 수 있도록 한 것
 - EX) math.factorial(5) / from math import factorial

## 패키지, 라이브러리
 - 특정 기능과 관련된 여러 모듈을 하나의 폴더에 넣은 것.
 - 파이썬에 기본적으로 설치되는 라이브러리 - stdlib
 - 사용자가 별도의 프로그램을 작성 안함.
 
 - 라이브러리는 특정 기능을 지원하는 모듈 및 함수를 모아놓은 집함
 - 기능에 따라 여러가지 라이브러리가 존재함.
    
### 데이터 사이언스 분야의 패키지..
 - pandas, numpy, matplotlib, scipy, seaborn, statsmodels, scikit-learn, tensorflow
 
### 패키지 활용
 - pip(python install package) : 각종 패키지들을 설치 및 제거, 업데이트 하는 명령어, 주피터 싫랭시 !입력후 실행
 - !pip list
 - !pip upgrade

# Numpy

 - Numeric + Python 의 약자, 수학 및 과학 연산 라이브러리
 - 배열이나 행렬 계산 함수 제공
 - 수열데이터 사용시 용이, 이후에 Pandas에서 DataFrame 형태로 사용함
 - 다차원 배열을 다룰 때 주로 사용.(인공 신경망, 비정형 데이터 처리, 자연어 처리 등)
 - 판다스는 데이터프레임 내의 데이터를 행렬로 처리

In [20]:
import numpy as np

data = [6, 5, 3, 6, 3, 2, 1]

In [28]:
# Numpy Data type (dtype)
arr = np.array(data)
arr.mean()
arr.dtype

dtype('int32')

In [29]:
arr3 = np.array(['A', 'B', 'C'])
arr4 = np.array(['하이', '소리']) # dtype('<U2')

In [35]:
# 2차원 행렬 생성(이중 리스트 사용)

data = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

matrix = np.array(data)
print(type(matrix))
matrix

<class 'numpy.ndarray'>

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [46]:
# Matrix 사칙연산
mat1 = np.array([[1,2], [2,3], [19, 30]])
mat2 = np.array([[3,4], [5,6], [7,8]])
m = np.array([1,2,3])
print(mat1 + mat2)
print(mat1 - mat2)
print(mat1 ** 2)

[[ 4  6]
 [ 7  9]
 [26 38]]
[[-2 -2]
 [-3 -3]
 [12 22]]
[[  1   4]
 [  4   9]
 [361 900]]

In [49]:
# 배열의 형태 shape
mat1.shape

(3, 2)

In [57]:
arr3 = np.array([
    [1, 2],
    [3, 4]
])

print(arr3.shape, arr3, end= '\n')

(2, 2) [[1 2]
 [3 4]]

In [66]:
arr4 = np.arange(10)
arr5 = np.arange(1,6)
arr6 = np.arange(1, 10, 2)

In [70]:
arr7 = np.random.randn(10, 5)
arr7

# 평균 0, 표준편차 1의 정규분포 형태를 가진 값을 랜덤으로 산출하는 함수

array([[-0.11314541, -0.93297674, -1.87456653, -0.06720974, -2.50382849],
       [-1.4833217 , -0.87830002, -0.91692206,  1.7641309 ,  0.83965477],
       [-0.19862303,  0.47417123,  0.740451  ,  1.24003272, -0.74268795],
       [-1.00563314, -0.25061223, -1.91733524,  0.54766078,  0.53392028],
       [-0.13829927, -1.24744466,  1.16007154,  0.0510459 ,  1.45679895],
       [-1.83077911, -0.51460872,  0.6476422 ,  0.07836756, -3.38511321],
       [-0.19987344,  0.36702194,  0.71600336,  1.15838037,  0.18320329],
       [ 1.24992511, -0.95062045,  1.17929978,  0.24525108, -0.33151916],
       [-0.7172986 ,  2.15948054,  0.22489322, -1.16868054, -0.13954008],
       [ 0.54645146,  0.78102741,  0.0734096 ,  0.04696563, -0.30908503]])

In [77]:
arr_1 = np.array([1,2,3,4,5])
print(arr_1.dtype)

arr_2 = arr_1.astype(float)
print(arr_2.dtype)

int32
float64

C:\Users\user\AppData\Local\Temp/ipykernel_8576/902003095.py:4: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  arr_2 = arr_1.astype(np.float)

In [80]:
arr = np.arange(1, 11)
arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [83]:
arr[:]

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [84]:
arr= np.array([[1,2,5], [6,7,8], [9, 10, 15]])
arr.shape

(3, 3)

In [86]:
arr

array([[ 1,  2,  5],
       [ 6,  7,  8],
       [ 9, 10, 15]])

In [87]:
arr[0,0]

1

In [92]:
# [1, 2, 5]
arr[0, :]

array([1, 2, 5])

In [96]:
# [1,6, 9]
arr2 = arr[: , 0]
arr[0:2, :]

array([[1, 2, 5],
       [6, 7, 8]])

In [101]:
# [3, 4, 5]
# arr[:][0] vs arr[:, 0]
arr[:][0] = [3, 4, 5]
arr

array([[ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 15]])

In [104]:
arr = np.arange(1, 11).reshape(5, 2)
arr

array([[ 1,  2],
       [ 3,  4],
       [ 5,  6],
       [ 7,  8],
       [ 9, 10]])

In [119]:
#영행렬 생성
arr_z = np.zeros((2,2)).astype(int)
arr_z

#항등행렬 생성
arr_l = np.ones((2,2)).astype(int)
arr_l

array([[1, 1],
       [1, 1]])

In [121]:
# array operation
arr1 = np.arange(1, 11).reshape(5, 2) # 사이즈 공유 필요
arr1.sum()

55

In [124]:
# axis = 1 인 경우 행 순으로 계산.. 0 인 경우  열을 계산
arr.sum(axis=1)

array([ 3,  7, 11, 15, 19])

In [123]:
arr1.sum(axis = 0)

array([25, 30])

In [126]:
arr1.mean(axis = 0)

array([5., 6.])

# Pandas
- 데이터 과학에 사용되는 라이브럴리로 데이터 불러오기, 전처리, 통계분석에 사용됨
- Numpy 기반으로 작성된 라이브러리
- Series 형태와 DataFrame 형태가 존재함
- 넘파이 기반이기 때문에 넘파이 전용 함수 사용 가능.

[python_web] https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf

- import pandas as pd

## What is Series Data?
- a1 = pd.Series([1,2,3,4,5,6,7])

In [128]:
import pandas as pd

In [129]:
a1 = pd.Series([1,2,3,4,5,6,7,11])

In [132]:
a1.sum()
a1.mean()

4.875

In [140]:
s2 = pd.Series(['Kim', 'JIN', "Max"], name = '출석부', index = ['하나', '둘', '셋'])

In [152]:
# Series to Dict
# 각 데이터가 매핑된 형태..

mydict = {
         'name' : 'Kim',
         'age' : 20,
         'gender' : 'male',
         'job' : 'Strudent'
         }

person = pd.Series(mydict, name = '출석부')