# Example 1-1

 - 어떤 회원이 생년월일 입력란에 890724를 입력하셨을때 해당 문자을 연/월/일로 각각 나누어 출력하기

In [33]:
phoneNumber = '010-1234-5678'
phoneNumber.replace("-", "")

sales = "DAILY ESSENTIALS REFRESHING TONER REVIEWS"
sales.lower()

days = '20190603'
birthday = '890724'

print(birthday[0:2] + '/' + birthday[2:4] + '/' + birthday[4:6])
print(days[0:4] + '-' + days[4:6] + '-' + days[6:8])
print(sales.lower())
print(phoneNumber.replace("-", ""))

89/07/24
2019-06-03
daily essentials refreshing toner reviews
01012345678

#Example 1-5 ~ 1-9

In [2]:
#1.6

ls = [1,1,1,1,3,3,3,4,5,5,4,5,7,8,13]
print(list(set(ls)))

[1, 3, 4, 5, 7, 8, 13]

In [7]:
#1.7
PI = 3.14
r = float(input("radius ? : "))
area = PI * (r ** 2)
print("Area is.. : %.2f" % area)

radius ? : 2.4
Area is.. : 18.09

In [8]:
#1.8 
x = int(input("What's value of x : "))

y1 = (x ** 2) - x + 100
y2 = (2 * x)  + 25
y3 = ((x ** 2) + x) / (x)

print(y1, y2, y3)

What's value of x : 4
112 33 5.0

In [12]:
#1.9

dict1= {'96: '자',
        '97' :'축',
        '98 :'인',
        '99 :'묘',
        '00:'진',
          '01': '사',
          '02' :'오',
          '03' :'미',
          '04' :'신',
          '05' :'유'
          '06' :'술',
          '07' :'해',
       }

SyntaxError: invalid syntax (Temp/ipykernel_12700/4158456886.py, line 3)