In [1]:
import pandas as pd
import numpy as np

# 데이터 로드

In [3]:
df = pd.read_excel('../data/project2/adm_code.xls', header=1, dtype=object)
df.head(3)

  시도코드   시도명칭 시군구코드 시군구명칭 읍면동코드 읍면동명칭
0   11  서울특별시   010   종로구    53   사직동
1   11  서울특별시   010   종로구    54   삼청동
2   11  서울특별시   010   종로구    55   부암동

# 행정구역번호 생성

In [5]:
df['행정구역번호'] = df['시도코드']+df['시군구코드']+df['읍면동코드']
df.head(3)

  시도코드   시도명칭 시군구코드 시군구명칭 읍면동코드 읍면동명칭   행정구역번호
0   11  서울특별시   010   종로구    53   사직동  1101053
1   11  서울특별시   010   종로구    54   삼청동  1101054
2   11  서울특별시   010   종로구    55   부암동  1101055

# 필요없는 컬럼 삭제

In [4]:
df.drop(columns=['시도코드', '시군구코드', '읍면동코드'], inplace=True)

# 필요없는 값 삭제
- 서울과 경기도만 쓸 것이 때문에 둘 외에는 삭제
- 서울과 경기도 2개의 데이터로 분할

In [5]:
df['시도명칭'].unique()

array(['서울특별시', '부산광역시', '대구광역시', '인천광역시', '광주광역시', '대전광역시', '울산광역시',
       '세종특별자치시', '경기도', '강원도', '충청북도', '충청남도', '전라북도', '전라남도', '경상북도',
       '경상남도', '제주특별자치도'], dtype=object)

In [6]:
# 서울
df_s = df.copy()
# 경기
df_g = df.copy()

In [7]:
df_s['시도명칭'] = np.where(df_s['시도명칭']=='서울특별시', df_s['시도명칭'], np.NaN)
df_g['시도명칭'] = np.where(df_g['시도명칭']=='경기도', df_g['시도명칭'], np.NaN)

In [8]:
print('서울\n', df_s.isnull().sum())

서울
 시도명칭      3076
시군구명칭        0
읍면동명칭        0
행정구역번호       0
dtype: int64

In [9]:
print('경기\n', df_g.isnull().sum())

경기
 시도명칭      2950
시군구명칭        0
읍면동명칭        0
행정구역번호       0
dtype: int64

In [10]:
df_s.dropna(inplace=True)
df_g.dropna(inplace=True)

# 컬럼 정렬

In [11]:
# 서울
df_s = df_s[['행정구역번호', '시군구명칭', '읍면동명칭']]
df_s.head(3)

   행정구역번호 시군구명칭 읍면동명칭
0  111053   종로구   사직동
1  111054   종로구   삼청동
2  111055   종로구   부암동

In [12]:
df_g = df_g[['행정구역번호', '시군구명칭', '읍면동명칭']]
df_g.head(3)

      행정구역번호    시군구명칭 읍면동명칭
1178  311154  수원시 장안구   파장동
1179  311155  수원시 장안구   율천동
1180  311156  수원시 장안구  정자1동

# 데이터 저장

In [20]:
df_s.to_csv('../data/project2/seoul_id.csv', encoding='euc-kr', index=False)
df_g.to_csv('../data/project2/gyeonggi_id.csv', encoding='euc-kr', index=False)